# Created by https://www.toptal.com/developers/gitignore/api/python,swift

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

### Swift ###
# Xcode
#
# gitignore contributors: remember to keep this file simple and straightforward
# Simply add a pattern to the end of the file

## User-specific stuff
.DS_Store
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcworkspace/xcuserdata/
*.xcschemes/

## Build generated
build/
DerivedData/
*.hmap
*.ipa

# Various settings
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.swiftdoc
*.swiftmodule

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Private configurations
#
# If you have keys and secrets, create a file named `Configurations.xcconfig`
# and add it to your project's .gitignore to avoid committing them.
#
# e.g. Configurations.xcconfig

# End of https://www.toptal.com/developers/gitignore/api/python,swift```
google_credentials.json
__pycache__/
.DS_Store
